<div class="home">
    <!-- Input infor -->
    <div class="content">
        <app-info></app-info>
    </div>
    <!-- Information -->
    <div class="content">
        <h2>Halo， 大家好！</h2>
        <p>我来介绍一下， 我姓阮，叫{{name}}。</p>
        <p>今天认识大家我很高兴。</p>
        <br>
        <button (click)="showName()">Click me to show my name in VietNam</button>
        <br>
        <input
            type="text"
            #yearsold
            placeholder="Đoán xem mình mấy tuổi :v"
        >


        <br>
        <button (click)="checkYearsold(yearsold.value)">Kiểm tra</button>
        <h3>这是我的作业。</h3>
        <h2>开始吧！</h2>
        <br>
    </div>
</div>
